body {
    padding: 1em !important;
}

ol {
    list-style-type: none;
}

li + li {
    margin-top: .5em;
}

.oryx {
    font-weight: bold;
}

.♥ {
    color: red;
    font-size: 1.5em;
}

.alert {
    display: none;
}

.alert.error {
    display: block;
}

